/* body {
  color: #fdf4fe;
  background-color: #13140c;
  position: absolute;
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
  padding: 0px;
  margin: 0px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

header {
  text-align: center;
  margin: 0.5em;
}

p {
  padding-right: 1em;
}

footer {
  margin: 0.5em;
  display: flex;
  justify-items: center;
}

img {
  margin: 0px;
  padding: 0px;
  vertical-align: middle;
}

img.contact {
  display: inline;
  height: 100%;
  width: 100%;
}

.float-right {
  float: right;
}

a, a:visited, a:hover {
  padding: 1px;
  margin: 1px;
  color: darkslategray;
  border-style: solid;
  border-color: darkcyan;
  border-width: 1px;
  border-radius: 4px;
  text-decoration: none;
}

a:hover {
  color: white;
  background-color: darkslategray;
}

a.contact {
  width: 3em;
  height: 3em;
}

div.avatar {
  background-image: url('avatar.jpg');
  background-size: 100%;
  width: 200px;
  height: 200px;
  box-shadow: 0 0 12px 6px #13140c inset;
} */